// = ListRenderer
// ============================================================================
// No CSS hacks, variables overrides only

.o_list_renderer {
    --ListRenderer-thead-bg-color: #{$i-primary-emphasis};
}