// = Mobile Search
// ============================================================================
// No CSS hacks, variables overrides only

.o_mobile_search {
    --mobileSearch-bg: #{$o-gray-200};
    --mobileSearch__header-bg: #{$o-gray-200};
}

.o_searchview {
   --SearchBar-background-color: #{$o-gray-200};
}
