// = Navbar Variables
// ============================================================================
// No CSS hacks, variables overrides only

$o-navbar-background: $o-view-background-color !default;
$o-navbar-entry-color: $o-black !default;
