.o_web_client {
    &:has(.i_web_sidebar) {
        > .o_action_manager {
            display: flex;
            // background: #{$o-white};
            // margin-left: map-get($spacers, 2);
            // margin-right: map-get($spacers, 2);
            
            & > {
            overflow: auto;
            flex: 1 0 auto;
            }
            & > *:last-child {
                flex: 1 1 100%;
                @extend %i-inphms-blur-background;
                // margin-left: map-get($spacers, 2);
                // border-radius: #{$border-radius-sm};
            }
        }
        .o_main_navbar {
            background: $o-navbar-background;
            backdrop-filter: none;
            border-bottom: 1px solid #{$border-color} !important;
        }
    }
}

.i_web_sidebar {
    width: var(--SearchPanel-width, #{$o-search-panel-width});
    font-size: var(--SearchPanel-fontSize, #{$o-search-panel-font-size});
    @extend %i-scrollbar-style;
    // @extend %i-inphms-blur-background;
    background: $o-white;
    // border-radius: #{$border-radius-sm};

    .list-group {
        --list-group-bg: transparent;
        --list-group-active-bg: hsla(#{$i-system-color-dark-hsl}, .2);
        --list-group-action-active-bg: #{$list-group-hover-bg};
    }
}