.o_tour_recorder {
    // z-index: $o-mail-NavigableList-zIndex + 1;
    // Using mail `$o-mail-NavigableList-zIndex` preference,
    // Which is base 21;
    z-index: 22;

    .o_tour_recorder_header {
        padding: 0.9rem 16px;
    }
    
    .i_btn_close_wrapper .btn-close {
        --btnClose-bg: #{$o-white};
        @extend %i-btn-close-wrapper;
    }
}