.o_user_menu .dropdown-toggle {
    --NavBar-entry-padding-right: #{$o-horizontal-padding};

    .o_user_avatar {
        height: calc(var(--o-navbar-height) - 10px);
        &.rounded {
            border-radius: 50% !important;
        }
    }
}
