.i_system_information {
    background: var(--AppSwitcherIcon-background, #{$o-home-menu-app-icon-background-color});
    border-radius: $border-radius;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
                inset 0 -2px 3px rgba(0, 0, 0, 0.2),
                0 8px 20px rgba(0, 0, 0, 0.2);
    border-color: #{$i-home-menu-app-icon-border-color} !important;
    color: var(--homeMenuCaption-color, #{$o-home-menu-caption-color});
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        @include o-position-absolute(0, 0, 0, -50%);
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1), transparent);
        transform: skewX(-25deg);
        transition: 0.5s;
        opacity: 0;
    }
    &:hover {
        &::before {
            opacity: 1;
            left: 150%;
        }
    }
}