.ace_editor .ace_qweb {
    // color: orange !important;
    color: #C94E6A !important;   /* elegant rose */
}
.ace_editor .ace_code {
    // color: fuchsia !important;
    color: #3A3A8C !important;   /* deep blue */
}
.ace_editor.ace-monokai .ace_qweb {
    // color: lightblue !important;
    color: #9FD2FF !important;   /* icy blue */
}
.ace_editor.ace-monokai .ace_code {
    // color: #c94bc9 !important;
    color: #D99C4A !important;   /* muted gold */
}

/// TESTER
// .ace_editor .ace_qweb {
//     color: #C94E6A !important;
// }

// .ace_editor .ace_code {
//     color: #3A3A8C !important;
// }


// .ace_editor.ace-monokai .ace_tag {
//     color: #569cd6 !important;
// }
// .ace_editor.ace-monokai .ace_qweb {
//     color: #9ae3ff !important;
// }
// .ace_editor.ace-monokai .ace_operator {
//     color: #ffffff !important;
// }
// .ace_editor.ace-monokai .ace_string {
//     color: #D99C4A !important;
// }
// .ace_editor.ace-monokai .ace_code {
//     color: #ffff99 !important;
// }