%i-scrollbar-style {
    &::-webkit-scrollbar {
        width: 8px;
    }
    // &::-webkit-scrollbar-track {
    //     background-color: transparent;
    //     border-radius: 10px;
    // }
    &::-webkit-scrollbar-thumb {
        background: hsla(#{$i-system-color-dark-hsl}, .3);
        border-radius: $border-radius-pill;
        
        &:hover {
            background: hsla(#{$i-system-color-dark-hsl}, .6);
        }
    }
}

.i_action_sidebar {
    // Same as search panel
    --treeEntry-padding-h: #{map-get($spacers, 3)};

    width: var(--SearchPanel-width, #{$o-search-panel-width});
    font-size: var(--SearchPanel-fontSize, #{$o-search-panel-font-size});
    // scrollbar-width: thin;
    
    @extend %i-scrollbar-style;
    @extend %i-inphms-blur-background;
    border-radius: #{$border-radius-sm};

    // @include border-end-radius();

    .i-toggle-fold {
        width: map-get($spacers, 3);
    }

    .i_action_sidebar_item_header {
        font-size: 13px;
        min-height: 30px;
    }

    .i_action_sidebar_brand_image {
        max-width: 100px;
        max-height: 100px;
    }

    .list-group {
        --list-group-bg: transparent;
        --list-group-active-bg: hsla(#{$i-system-color-dark-hsl}, .2);
        --list-group-action-active-bg: #{$list-group-hover-bg};
    }
}

.i_sidebar_resize {
    @extend .o_search_panel_resize;
}

.list-group-item {
    .list-group-item.list-group-item-action {
        border-radius: $o-border-radius-sm;
    }
}