

.i_action_sidebar {
    // Same as search panel
    --treeEntry-padding-h: #{map-get($spacers, 3)};


    // @include border-end-radius();

    .i-toggle-fold {
        width: map-get($spacers, 3);
    }

    .i_action_sidebar_item_header {
        font-size: 13px;
        min-height: 30px;
    }

    .i_action_sidebar_brand_image {
        max-width: 100px;
        max-height: 100px;
    }

}


