.o-mail-DiscussContent {
    border-radius: #{$border-radius-sm};
    
    .o-mail-Thread {
        flex-grow: 1;
    }
}

.o-mail-DiscussContent-core {
    // background-color: $body-bg;
    @extend %i-inphms-blur-background;
    box-shadow: $box-shadow-inset;
}

.o-mail-DiscussContent-header {
    // background-color: $white;
    @extend %i-inphms-blur-background;
}

.o-mail-DiscussContent-headerActions button {
    --btn-disabled-opacity: 0.25;
    background-color: transparent !important;

    i {
        opacity: 65%;
    }

    &:hover, &.o-isActive {
        i {
            opacity: 100%;
        }
    }
    &:not(.o-isActive):hover {
        background-color: $gray-200 !important;
    }
    &.o-isActive {
        background-color: $gray-200 !important;
        outline: $border-width solid mix($gray-300, $gray-400);
        outline-offset: -$border-width;
        opacity: 100%;
    }
    &.o-isActive:hover {
        background-color: $gray-300 !important;
    }
}

.o-mail-DiscussContent-headerActionsGroup {
    background-color: mix($gray-100, $gray-200, 65%);
    outline: 1px solid $gray-200;
    outline-offset: -1px;
}

.o-mail-DiscussContent-headerCountry {
    width: 24px;
}

.o-mail-DiscussContent-headerImStatus {
    bottom: -2px;
    right: -2px;
}

.o-mail-DiscussContent-selfAvatar {
    height: 30px;
    width: 30px;
}

.o-mail-DiscussContent-threadAvatar {
    img {
        height: ($btn-font-size * $btn-line-height) + $btn-padding-y;
        aspect-ratio: 1;
    }

    a {
        i {
            transform: translate(-50%, -50%);
            opacity: 0;
        }

        &:hover {
            background-color: rgba($black, 0.5);
            i {
                opacity: 1;
            }
        }
    }
}

.o-mail-DisscussContent-threadGroup {
    .p-0 {
        padding: 0px !important;
    }
}

.o-mail-DiscussContent-threadName {
    max-width: 75%;
}
